@page "/"
@using DetectHandsJsComponent;

<PageTitle>JavaScript interop demo with [JSImportAttribute] </PageTitle>

<div> Fork me at <a href="https://github.com/pavelsavara/blazor-wasm-hands-pose" target="_blank">https://github.com/pavelsavara/blazor-wasm-hands-pose</a></div>    

<DetectHands/>
