<div>
    Hands pose detection via <a href="http://www.mediapipe.dev" target="_blank">MediaPipe</a>. Please allow your camera and show your hands.

    <div class="container">
        <video class="input_video selfie"></video>
        <canvas class="output_canvas"></canvas>
        <div class="loading">
            <div class="spinner"></div>
            <div class="message">
                Loading
            </div>
        </div>
        <div>
            @if (DetectionResult != null)
            {
                if (this.DetectionResult.Hands != null && this.DetectionResult.Hands.Count > 0)
                {
                    <ul>
                        @foreach (var hand in this.DetectionResult.Hands)
                        {
                            if(hand.Landmarks.Count>0)
                            {
                                var palm=hand.Landmarks[0];
                                int x = (int)(palm.X*100);
                                int y = (int)(palm.Y*100);
                                <li>
                                    @hand.Label hand at [@x, @y]
                                </li>
                            }
                        }
                    </ul>
                    var left = this.DetectionResult.Hands.FirstOrDefault(hand => hand.Label == "Left");
                    var right = this.DetectionResult.Hands.FirstOrDefault(hand => hand.Label == "Right");
                    if (left != null && right != null
                    && left.Landmarks.Count > 0 && right.Landmarks.Count > 0
                    && left.Landmarks[0].X > right.Landmarks[0].X)
                    {
                        <div>Do you have your hands crossed ?</div>
                    }
                }
                else
                {
                    <div>I don't see any hands.</div>
                }
            }
        </div>
    </div>

</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public DetectionResult? DetectionResult { get; set; }
}